 *{
    margin: 0;
    padding: 0;
}
   body{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
      background-color: #7b2cbf;
      font-family: sans-serif;
   }
   .navBar{
    background-color:#3c096c;
    width: 100%;
    color: #fff;
    text-align: center;
    font-size: small;
    height: 10vh;
  
    display: flex;
    align-items: center;
    justify-content: center;
   }
   .home{
    background-color: #7b2cbf;
    min-width: 100%;
   }
   form{
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    align-items: center;
    /* min-height: 70vh; */
   }
   .name{
     font-size: 2rem;
     margin-top: 5vh;
     display: flex;
     flex-direction: column;
     align-items: center;
    
   }
   .name1{
    margin-top: 2vh;
    font-size: 1.5rem;
    min-height: 2rem;
    outline: none;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 5px;
    padding-left: 1rem;
    background-color:#e0aaff ;
     color: #fff;
   }
   .gender{
    margin-top: 5vh;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100%;
   }
   .check-boxes{
    margin-top: 5vh;
    display: flex;
    justify-content: space-evenly;
    min-width: 100%;
   }
   .check-boxe{
    height: 25px;
    width: 25px;
    margin-left: 1vh;

   }
   .option1{
    display: flex;
    
   }
   /* ul{
    max-width: 80%;
   } */
   .question{
    margin-top: 7vh;
    min-width: 100%;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    
   }
   .options{
    margin-top: 3vh;
    display: flex;
    height: 20vh;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
   }
   .btn{
     height: 7vh;
     width: 25vh;
     border-radius: 5px;
     border: 1px solid rgba(255,255,255,0.3);
     font-size: 1.5rem;
     background:none;
     color: #fff;
     
   }
   .submit{
    margin-top: 5vh;
    margin-bottom: 10vh;
    /* height: 6vh;
    width: 25vh; */
    padding: 0vh 9vh 2vh 9vh;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 10px;
    font-size: 1.7rem;
    font-weight: bold;
    background-color: #ee9b00;
    text-align: center;
    padding-top: 2vh;
   }
   p{
    font-size: 1.5rem;
   }
   li{
    border: 1px solid rgba(255,255,255,0.3);
    border-radius: 5px;
    margin-top: 1vh;
    padding: 1vh;
    list-style: none;
    font-size: larger;
    /* width: 90%; */
   }
   .questions{
    margin-top: 4vh;
    /* max-width: 100vh; */
   }
   .result{
    min-height: 70vh;
    max-width: 85%;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: fixed ;
    bottom: 12vh;
  

   }
   .image{
    min-height: 20vh;
    min-width: 20vh;
    border-radius: 50%;
    background: url(tick.png) center/ cover no-repeat;
   }
   .message{
    color: black;
    font-size: large;
    max-width: 80%;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    word-wrap: break-word;
   }
   /* HTML: <div class="loader"></div> */
.loader {
   
  width: 10rem;
  aspect-ratio: 2;
  --_g: no-repeat radial-gradient(circle closest-side,#000 90%,#0000);
  background: 
    var(--_g) 0%   50%,
    var(--_g) 50%  50%,
    var(--_g) 100% 50%;
  background-size: calc(100%/3) 50%;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
    20%{background-position:0%   0%, 50%  50%,100%  50%}
    40%{background-position:0% 100%, 50%   0%,100%  50%}
    60%{background-position:0%  50%, 50% 100%,100%   0%}
    80%{background-position:0%  50%, 50%  50%,100% 100%}
}
@media (max-width: 480px) {
 *{
    margin: 0;
    padding: 0;
}
   body{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
      background-color: #7b2cbf;
      font-family: sans-serif;
   }
   .navBar{
    background-color:#3c096c;
    width: 100%;
    color: #fff;
    text-align: center;
    font-size: small;
    height: 10vh;
  
    display: flex;
    align-items: center;
    justify-content: center;
   }
   .home{
    background-color: #7b2cbf;
    min-width: 100%;
   }
   form{
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    align-items: center;
    /* min-height: 70vh; */
       max-width:90%;
   }
   .name{
     font-size: 2rem;
     margin-top: 5vh;
     display: flex;
     flex-direction: column;
     align-items: center;
    
   }
   .name1{
    margin-top: 2vh;
    font-size: 1.5rem;
    min-height: 2rem;
    outline: none;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 5px;
    padding-left: 1rem;
    background-color:#e0aaff ;
     color: #fff;
   }
   .gender{
    margin-top: 5vh;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100%;
   }
   .check-boxes{
    margin-top: 5vh;
    display: flex;
    justify-content: space-evenly;
    min-width: 100%;
   }
   .check-boxe{
    height: 25px;
    width: 25px;
    margin-left: 1vh;

   }
   .option1{
    display: flex;
    
   }
   .question{
    margin-top: 7vh;
    min-width: 100%;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    
   }
   .options{
    margin-top: 3vh;
    display: flex;
    height: 20vh;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
   }
   .btn{
     height: 7vh;
     width: 20vh;
     border-radius: 5px;
     border: 1px solid rgba(255,255,255,0.3);
     font-size: 1.5rem;
     background:none;
     color: #fff;
     
   }
   .submit{
    margin-top: 5vh;
    margin-bottom: 10vh;
    /* height: 6vh;
    width: 25vh; */
    /* padding: 1vh 9vh 0vh 9vh; */
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 10px;
    font-size: 1.7rem;
    font-weight: bold;
    background-color: #ee9b00;
    text-align: center;
    padding-top: 2vh;
   }
   p{
    font-size: 1.5rem;
   }
   li{
    border: 1px solid rgba(255,255,255,0.3);
    border-radius: 5px;
    margin-top: 1vh;
    padding: 1vh;
    list-style: none;
    font-size: larger;
    width: 90%;
   }
   .questions{
    margin-top: 4vh;
    display: flex;
    flex-direction: column;
    align-items: center;
   }
   ul{
     display: flex;
    flex-direction: column;
    align-items: center;
   }
   .result{
    min-height: 70vh;
    max-width: 85%;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: fixed ;
    bottom: 12vh;
  

   }
   .image{
    min-height: 20vh;
    min-width: 20vh;
    border-radius: 50%;
    background: url(tick.png) center/ cover no-repeat;
   }
   .message{
    color: black;
    font-size: large;
    max-width: 80%;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    word-wrap: break-word;
   }
   p{
    text-align: center;
   }
   /* HTML: <div class="loader"></div> */
.loader {
   
  width: 10rem;
  aspect-ratio: 2;
  --_g: no-repeat radial-gradient(circle closest-side,#000 90%,#0000);
  background: 
    var(--_g) 0%   50%,
    var(--_g) 50%  50%,
    var(--_g) 100% 50%;
  background-size: calc(100%/3) 50%;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
    20%{background-position:0%   0%, 50%  50%,100%  50%}
    40%{background-position:0% 100%, 50%   0%,100%  50%}
    60%{background-position:0%  50%, 50% 100%,100%   0%}
    80%{background-position:0%  50%, 50%  50%,100% 100%}
}
}

